/* * {
  background-color: rgb(249, 242, 230);
} */

body {
  background-color: rgb(249, 242, 230);
  margin: 0;
  padding: 0;
}

/* FONTS */

.f200 {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 15px;
}

.f300 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.f400 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.f500 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}


/* NAVBAR */

.navbar-brand {
  font-size: 2em;
  font-style: normal;
}

.navbar-divider {
  border-left: 1px solid #333; 
  height: 40px;
  margin-left: 15px;
  margin-right: 15px;
}

.navbar-custom {
  position: relative;
  border-top: 1px solid #ccc; 
  background-color: inherit;
}

.navbar-custom::before,
.navbar-custom::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px; 
  background-color: #333; 
}

.navbar-custom::before {
  bottom: 5px; 
}

.navbar-custom::after {
  bottom: 0;
}

.dropdown-menu .dropdown-submenu {
  position: relative;
}

.dropdown-menu .dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}

.dropdown-item.dropdown-submenu > a {
  color: black;
  text-decoration: none;
}

.dropdown-item.dropdown-submenu > a:hover {
  color: black;
  text-decoration: none;
}

.btn-light {
  background-color: #333;
  color:rgb(249, 242, 230) ;
}

.btn:hover {
  background-color: rgb(249, 242, 230);
  color: #333;
}

.btn-outline-custom {
  background-color: #333;
  color: rgb(249, 242, 230);
  border: 1px solid #333;
  border-radius: 5px;
}

.btn-outline-custom:hover {
  background-color: #333;
  color: rgb(249, 242, 230);
}


.btn-custom {
  background-color: #333; 
  color: rgb(249, 242, 230);
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 10px 20px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-custom:hover {
  background-color: rgb(249, 242, 230); 
  color: #333; 
  border-color: #333; 
}

.border-upper-line {
  height: 2px;
  position: relative;
  margin: 7px 0;
}

.border-upper-line::before,
.border-upper-line::after {
  content: ""; 
  position: absolute; 
  left: 0; 
  right: 0; 
  height: 1px; 
  background-color: #333;
}

.border-upper-line::before {
  top: 0px; 
}

.border-upper-line::after {
  top: 8px;
}


/* IMAGEN */

.col-7, .col-5 {
  padding: 0;
}

.bordered-text {
  position: relative;
  z-index: 1;
  padding: 20px;
  border-radius: 0 5px 5px 0;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.border-bottom-line {
  height: 2px; 
  position: relative; 
  /* margin: 10px 0; */
}

.border-bottom-line::before,
.border-bottom-line::after {
  content: ""; 
  position: absolute; 
  left: 0; 
  right: 0; 
  height: 1px; 
  background-color: #333;
}

.border-bottom-line::before {
  top: 7px; 
}

.border-bottom-line::after {
  top: 0px; 
}




/* GALLERY */

.gallery-img {
    padding: 15px; 
    text-align: center;
  }

  .img-fluid {
    width:300px;
    height: 250px;
    object-fit: cover;
  }

  .hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    /* background: rgba(0,0,0,0.6); */
    -webkit-transform: translatey(-100px);
    -ms-transform: translatey(-100px);
    transform: translatey(-100px);
    -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
    transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
    padding: 10px;
  }
  
  .hovereffect a.info {
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    margin: 50px 0 0;
    padding: 7px 14px;
  }

  .hovereffect {
    width: fit-content;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
  }
  
  .hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.4s cubic-bezier(0.88, -0.99, 0, 1.81);
  }
  
  .hovereffect img {
    display: block;    position: relative;    transition: all 0.4s cubic-bezier(0.88, -0.99, 0, 1.81);    transform-origin: center;
  }
  
  .hovereffect a.info, .hovereffect button.info {
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    opacity: 0;
    transition: all 0.4s ease;
    margin: 50px 0 0;
    padding: 7px 14px;
  }
  
  .hovereffect:hover img {
    transform: scale(1.2);
  }
  
  .hovereffect:hover .overlay {
    opacity: 1;
  }
  
  .hovereffect:hover h2, .hovereffect:hover a.info, .hovereffect:hover button.info {
    opacity: 1;
    transform: translateY(0);
  }

.modal-body , .modal-header , .modal-footer {
  background-color: rgb(249, 242, 230);
}

.modal-header {
  border-bottom: var(--bs-modal-header-border-width) solid #33333340;
}

.modal-footer {
  border-top: var(--bs-modal-header-border-width) solid #33333340;
}

.modal-title {
  color: #333;
}


/* CARRUSEL */

.center {
  overflow: hidden; 
}

.slick-carousel {
  display: flex; 
  justify-content: center; 
}

.slick-slide {
  margin: 0 5px; 
}


.slick-prev {
  left: 25px;
  z-index: 2;
}

.slick-next {
  right: 25px;
  z-index: 2;
}




/* FIND THE PERFECT RECIPE */

.icon-button {
    font-size: 40px; 
    cursor: pointer; 
    transition: transform 0.3s; 
    text-align: center;
    position: relative;
    z-index: 10;
}
  
.icon-button:hover {
    transform: scale(1.2); 
}
  
.row {
  margin-right: 0;
  margin-left: 0;
  padding: 0; 
}


/* PUMPKIN PIE */

.pfrontdos {
  font-size: 16px; 
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: justify; 
  /* padding-right: 120px;  */
  margin-left: -15px; 
}

.vertical-linedos {
  width: 2px; 
  background-color: #cccccc; 
  height: 100%; 
  margin-left: 10px; 
  margin-right: 10px; 
}

/* FIND */

body .container {
  max-width: 1100px;
}

#filter-buttons button {
  border-radius: 3px;
  background: rgb(249, 242, 230);
  border-color: #333;
  /* border-color: transparent; */
}

#filter-buttons button:hover {
  background: #33333378;
}

#filter-buttons button.active {
  color: rgb(249, 242, 230);
  background: #333;
}

#filterable-cards .card {
  background-color: rgb(249, 242, 230);
  color: #333;
  width: 15rem;
  border: 2px solid transparent;
  border-color: #333;
}

#filterable-cards .card .card-title {
  color: #333;
}

#filterable-cards .card.hide {
  display: none;
}

.custom-btn {
  background-color: #333;
  color: rgb(249, 242, 230);
  border: 1px solid #333;
}

.custom-btn:hover {
  background-color: rgb(249, 242, 230);
  color: #333;
  border: 1px solid #333;
}


/* FORM */

.custom-signup-btn {
  background-color: #333;
  color: rgb(249, 242, 230);
  border: 1px solid #333; 
  width: 50%; 
  text-align: center;
  margin: 0 auto;
  display: block;
}

.custom-signup-btn:hover {
  background-color: rgb(249, 242, 230);
  color: #333;
  border: 1px solid #333; 
}

.custom-border {
  border-right-width: 3px; 
  border-right-style: solid;
  border-right-color: #333;
}

.form-control {
  background-color: rgb(249, 242, 230); 
  border: 1px solid #333;
  border-radius: 5px;
  color: rgb(249, 242, 230);
}

.custom-end {
  color: #333;
  border-radius: 2px;
}

.custom-border-form {
  border-right-width: 1px; 
  border-right-style: solid;
  border-right-color: #333;
}

.custom-border-recipe {
  border-left-width: 1px; 
  border-left-style: solid;
  border-left-color: #333;
}

/* Footer */

.hover-underline li {
  border-bottom: none !important;
}

.hover-underline li:hover > a {
  border-bottom: 1px solid rgb(249, 242, 230);
  padding-bottom: 2px; 
}

.hover-underline li > a {
  border-bottom: none;
  text-decoration: none; 
}

.textfooter , .text-uppercase {
  color: rgb(249, 242, 230);
}

.text-center {
  font-size: 13px;
}


/* IMG 2 */

.reveal {
  visibility: hidden; 
  position: relative;
  overflow: hidden;
  width: 100vw;
  max-width: 100%;
}

.reveal img {
  transform-origin: left;
}

@media (max-width: 768px) {
  .cont-pr .row {
    flex-direction: column; /* Coloca la imagen encima del texto */
    align-items: center; /* Centra los elementos */
  }

  .cont-pr .col-7,
  .cont-pr .col-5 {
    flex: 0 0 100%; /* Cada columna ocupa el ancho completo */
    max-width: 100%;
  }

  .cont-pr .col-7 img {
    height: auto; /* Ajusta la altura automáticamente para evitar distorsión */
    width: 100%; /* Asegura que la imagen ocupe todo el ancho */
    margin-bottom: 1rem; /* Espacio debajo de la imagen */
  }

  .cont-pr .col-5 {
    text-align: center; /* Centra el texto */
    padding: 0 1rem; /* Agrega espacio lateral */
  }
}






  
  

