

.navbar-brand {
    font-family: "Playball", cursive;
    font-size: 2em;
    font-style: normal;
}

.col-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(193, 220, 226);
}

.textfront {
    font-family: "Playfair";
    text-align: center;
}

.pfront {
    font-family: "Afacad Flux", sans-serif;
    text-align: justify;
}

.gallery-img {
    padding: 15px; 
    text-align: center;
  }

  .gallery-text {
    font-family: "Playfair";
    text-align: center; 
    margin-bottom: 5px; 
    font-size: 16px; 
  }

  h2 {
    font-family: "Playfair";
  }

/* CARRUSEL */

.center {
  overflow: hidden; 
}

.slick-carousel {
  display: flex; 
  justify-content: center; 
}

.slick-slide {
  margin: 0 10px; 
}

/* FIND THE PERFECT RECIPE */

  .icon-button {
    font-size: 40px; 
    cursor: pointer; 
    transition: transform 0.3s; 
    text-align: center;
  }
  
  .icon-button:hover {
    transform: scale(1.2); 
  }
  
  .container-fluid {
    padding: 0; 
  }
  
  .row {
    margin: 0; 
  }
  




 


  

  